.card {
    aspect-ratio: 4/6;
    background-color: rgb(87, 13, 13);
    border-radius: .25rem;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.card > .description {
    background-color: rgb(195, 164, 70);
    color: rgb(87, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 50%;
    flex-grow: 1;
}

@media only screen and (min-width: 750px) {
    .card {
        width: 15vw;
    }
}