@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');

body {
    font-family: 'Kenia';
    background: radial-gradient(red, green);
}

.cardDeck {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 200%;
}

.losingScreen, .winningScreen {
    color: gold;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 5rem;
    border-radius: .5rem;
    box-shadow: inset -2px -2px 5px gray;
    width: min(50%, 25vw);
    text-align: center;
}

@media only screen and (max-width: 750px) {
    .cardDeck {
        font-size: 150%;
    }
}